.languages-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.languages-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centering content horizontally */
  justify-content: center; /* Centering content vertically */
  padding: 40px 20px;
  text-align: center;
  background-color: #f9f9f9; /* Light background for content section */
}

.back-button {
  background-color: #0773e6;
  color: white;
  padding: 15px 30px; /* Larger padding for a rectangular shape */
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px; /* Added margin on top for spacing */
  font-size: 18px; /* Increased font size */
  transition: background-color 0.3s ease;
  width: 200px; /* Fixed width for consistency */
}

.back-button:hover {
  background-color: #0056b3;
}

.language-button {
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: 500;
  border-radius: 10%;
  cursor: pointer;
}

.language-button:hover {
  background-color: #cfcece;
}

.language-button.active-language {
  background-color: rgb(118, 73, 135);  /* Bright color for active language */
  color: white;
}

.languages-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Ensure footer stays at the bottom */
.footer-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
