@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background: #d6f6ff; 
}

/*card*/
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  width: 500px;
  height: 500px;
  background: #33ccd0;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s ease;
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*login text*/
.login-form h1 {
  color: #000;
  text-align: center;
  font-family: "Comic Neue", Arial, sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: normal;
}

/*user and pass*/
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 15px;
  font-family: "Comic Neue", Arial, sans-serif;
}

/*form input*/
.form-group input {
  width: 380px;
  height: 60px;
  border-radius: 10px;
  background: #fff;
  padding: 10px;
  font-size: 32px;
  font-family: "Comic Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: normal;
  color: #636b6a;
  border: 1px solid #ddd;
  transition: border-color 0.3s;
  text-align: center; 
}


.form-group input:focus {
  color: #7539A9;
  outline: none;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  
}

.submit-button {
  width: 185px;
  height: 80px;
  background: #7539a9; 
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Comic Neue", Arial, sans-serif;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}
