@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

:root {
  --primary-color: #4caf50;
  --hover-color: #45a049;
  --background-color: #f4f4f4;
  --form-background: #33ccd0;
  --text-color: #333;
  --border-radius: 10px;
}

body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
}

.question-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px 20px;
  background: #d6f6ff;
}

h2 {
  font-family: "Comic Neue", Arial, sans-serif;
  font-size: 36px;
  color: #000;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.answer-option {
  padding: 10px 20px;
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s, transform 0.2s;
}

.answer-option:hover {
  background-color: var(--hover-color);
}

.correct {
  background-color: var(--primary-color);
}

.selected {
  background-color: #ff5722;
  color: white;
}

.correct-text {
  color: var(--primary-color);
  font-size: 24px;
  margin-top: 10px;
}

.incorrect-text {
  color: red;
  font-size: 24px;
  margin-top: 10px;
}

.progress-bar-wrapper {
  width: 100%;
  background-color: #ddd;
  border-radius: 10px;
  margin-top: 20px;
}

.progress-bar {
  height: 20px;
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: width 1s linear;
}

.next-question-btn {
  background-color: #7539a9;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: var(--border-radius);
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 20px;
}

.next-question-btn:hover {
  background-color: #5e308d;
  transform: scale(1.05);
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Add this to your existing styles for handling the end of quiz section */

.score-section {
  text-align: center;
  padding: 20px;
}

.end-options button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #7539a9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.end-options button:hover {
  background-color: #5e308d;
  transform: scale(1.05);
}
